<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stanoswald.eestore.mapper.SpecificMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stanoswald.eestore.entity.Specific">
        <id column="specific_id" property="specificId" />
        <result column="specific_name" property="specificName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        specific_id, specific_name
    </sql>

</mapper>
